* {
    margin: 0;
    padding: 0;
}
  
.content{
    padding: 3rem;
    /* background-color: brown; */
  }
  
.container{
    width: 85%;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.selectedRow{
    background-color: cornflowerblue;
}