* {
    margin: 0;
    padding: 0;
}
  
.content{
    padding: 3rem;
    /* background-color: brown; */
  }
  
.container{
    width: 85%;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.selectedRow{
    background-color: cornflowerblue;
}

.inputContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.InputContainer{
    width: 47%;
    margin: 0 0.5rem 0 0;
}

.Input{
    height: 45px;
    border-radius: 10px;
}

.form{
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0.5rem;
    padding-bottom: 1rem;
}